# Undersampling - equal groups

In [1]:
#Import packages 
import pandas as pd
import numpy as np
import seaborn as sns
import os
from PIL import Image, ImageOps
from sklearn.model_selection import train_test_split
import cv2
import dlib
from time import time
import matplotlib.pyplot as plt
import copy
import warnings
from tqdm.notebook import tqdm
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_pickle("/Users/laurabraadrasmussen/Bachelorprojekt/in_the_wild_df.pkl")

In [2]:
df2 = pd.read_pickle("/Users/laurabraadrasmussen/Bachelorprojekt/in_the_wild_df2.pkl")

In [4]:
df3 = pd.read_pickle("/Users/laurabraadrasmussen/Bachelorprojekt/in_the_wild_df3.pkl")

In [5]:
print(df.info(),df2.info(),df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9014 entries, 0 to 9013
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Images                   9014 non-null   object
 1   Ages                     9014 non-null   int64
 2   Genders                  9014 non-null   int64
 3   Race                     9014 non-null   int64
 4   Caucasien/Non-caucasian  9014 non-null   int64
dtypes: int64(4), object(1)
memory usage: 352.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10164 entries, 0 to 10163
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Images                   10164 non-null  object
 1   Ages                     10164 non-null  int64
 2   Genders                  10164 non-null  int64
 3   Race                     10164 non-null  int64
 4   Caucasien/Non-caucasian  10164 non-null  int64
dtypes: int64(4), object(1)
memory usage: 397.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3213 entries, 0 to 3212
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Images                   3213 non-null   object
 1   Ages                     3213 non-null   int64
 2   Genders                  3213 non-null   int64
 3   Race                     3213 non-null   int64
 4   Caucasien/Non-caucasian  3213 non-null   int64
dtypes: int64(4), object(1)
memory usage: 125.6+ KB
None None None

In [6]:
df.groupby(['Race'])['Race'].count()

Race
0    5396
1     422
2    1703
3    1493
Name: Race, dtype: int64

In [7]:
df2.groupby(['Race'])['Race'].count()

Race
0    3918
1    3876
2    1810
3     560
Name: Race, dtype: int64

In [8]:
df3.groupby(['Race'])['Race'].count()

Race
0     907
1     259
2      73
3    1974
Name: Race, dtype: int64

In [9]:
summen = [df.groupby(['Race'])['Race'].count()[i]+df2.groupby(['Race'])['Race'].count()[i]+df3.groupby(['Race'])['Race'].count()[i] for i in range(4)]

In [10]:
summen

[10221, 4557, 3586, 4027]

In [11]:
df_2_3 = pd.concat([df, df2, df3], ignore_index=True)

In [12]:
df_2_3

,Images,Ages,Genders,Race,Caucasien/Non-caucasian
0,<PIL.Image.Image image mode=RGB size=368x551 a...,16,1,3,1
1,<PIL.Image.Image image mode=RGB size=552x367 a...,40,1,0,0
2,<PIL.Image.Image image mode=RGB size=227x300 a...,71,1,0,0
3,<PIL.Image.Image image mode=RGB size=236x354 a...,80,1,0,0
4,<PIL.Image.Image image mode=RGB size=255x300 a...,6,1,2,1
...,...,...,...,...,...
22386,<PIL.Image.Image image mode=RGB size=410x409 a...,26,0,3,1
22387,<PIL.Image.Image image mode=RGB size=444x457 a...,58,0,3,1
22388,<PIL.Image.Image image mode=RGB size=404x503 a...,64,0,0,0
22389,<PIL.Image.Image image mode=RGB size=412x493 a...,54,0,3,1
22390,<PIL.Image.Image image mode=RGB size=218x293 a...,23,1,3,1

In [13]:
random_0 = (df_2_3[df_2_3['Race'] == 0]).sample(n = 3586)
random_1 = (df_2_3[df_2_3['Race'] == 1]).sample(n = 3586)
random_2 = (df_2_3[df_2_3['Race'] == 2]).sample(n = 3586)
random_3 = (df_2_3[df_2_3['Race'] == 3]).sample(n = 3586)

In [14]:
df_equal = pd.concat([random_0, random_1, random_2, random_3], ignore_index=True)

In [15]:
display(df_equal)

,Images,Ages,Genders,Race,Caucasien/Non-caucasian
0,<PIL.Image.Image image mode=RGB size=682x970 a...,76,1,0,0
1,<PIL.Image.Image image mode=RGB size=738x1103 ...,27,0,0,0
2,<PIL.Image.Image image mode=RGB size=905x982 a...,78,0,0,0
3,<PIL.Image.Image image mode=RGB size=602x337 a...,67,1,0,0
4,<PIL.Image.Image image mode=RGB size=582x305 a...,37,0,0,0
...,...,...,...,...,...
14339,<PIL.Image.Image image mode=RGB size=280x289 a...,46,0,3,1
14340,<PIL.Image.Image image mode=RGB size=398x511 a...,26,0,3,1
14341,<PIL.Image.Image image mode=RGB size=452x451 a...,28,1,3,1
14342,<PIL.Image.Image image mode=RGB size=452x451 a...,20,1,3,1
14343,<PIL.Image.Image image mode=RGB size=136x186 a...,1,0,3,1

In [16]:
df_equal.to_pickle("df_equal.pkl")